project_prefix     = "prefix"
ssh_public_key     = "ssh-ed25519 AAAAC3......"

# number of sites per provider
nutanix_site_count      = 0
aws_site_count          = 0
vmware_site_count       = 0
proxmox_site_count      = 0
site_on_appstack_count  = 0
site_on_openshift_count = 0

# vmware vsphere 
vsphere_server     = "vsphere.local"
vsphere_user       = "administrator@vsphere.local"
vsphere_password   = "password"
vsphere_datacenter = "Datacenter"
vsphere_cluster    = "Cluster"
vsphere_datastore  = "datastore1"
vsphere_host       = "<ip address>"
f5xc_vm_template   = "f5xc-ce-9.2024.22-20240817055833"

# proxmox server
pm_api_url          = "https://proxmox.local:8006/api2/json"
pm_api_token_id     = "root@pam!name"
pm_api_token_secret = "........-.........-....-.............
# pm_user             = "root@pam"
# pm_password         = "password"
pm_target_nodes     = [ "node" ]
iso_storage_pool    = "local"
pm_storage_pool     = "local-lvm"
pm_clone            = "f5xc-ce-9.2024.22-20240722122430"

# Nutanix
nutanix_username   = "admin"
nutanix_password   = "password"
nutanix_endpoint   = "<ip or hostname>"
nutanix_image_url  = "https://vesio.blob.core.windows.net/releases/rhel/9/x86_64/images/securemeshV2/f5xc-ce-9.2024.22-20240729033629.qcow2"

# appstack and openshift
kubeconfig = "appstack.kubeconfig"
f5xc_rhel9_container = "us-west1-docker.pkg.dev/solutions-team-280017/vesio-ver9-ce/securemeshv2:9.2024.22-20240806132626"

# F5 XC 
f5xc_api_url      = "https://tenant.console.ves.volterra.io/api"
f5xc_api_token    = "<api_token>"
f5xc_tenant       = "<tenant_id>"
f5xc_api_p12_file = "/Users/user/certs/tenant.console.ves.volterra.io.api-creds.sb.p12"
